.head {
    padding:10px; 
    position:fixed; 
    top:68%; 
    width:90%; 
    z-index:9999;
    background-color: rgb(7, 46, 46);
}

.right {
    width:150px; 
    text-align:right; 
    float:right; 
    color:#FFF;
}

.left {
    width:80px; 
    color:#FFF; 
    font-size:18px; 
    float:left;
}


.matchfield {
    background-color: rgb(159, 170, 180);
    margin-top:72px;
    padding:10px; 
    z-index:9999;
    width:90%; 
}

