.task {
    display: flex;
    flex-direction: initial;
}

.left {
    margin-left: 30px;
}

table, td {
    border:1px solid black;
    margin: 5px;
    text-align: center;
    border-collapse: collapse;

  }