body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#main > div {
    border: thin solid lightgray;
    padding: 10px;
    box-sizing: border-box;
}

#main > div + div {
    margin-top: 10px;
}

#task-change {
    display: flex;
    justify-content: space-between;
}

.task {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.task-description {
    min-height: 100px;
    max-height: 400px;
    overflow: auto;
    resize: vertical;
}

.task-description table {
    margin: 10px 0;
}