#animals-wrapper {
  display: flex;
  flex: 1;
  margin-top: 5px;
  align-items: center;
}

#animals-wrapper > div {
  margin: 10px 0;
}

#animals-wrapper > div + div {
  margin-left: 5px;
}

.fence {
  border: thin solid #808080;
  flex: 1;
  height: 100%;
  overflow: auto;
}

/* Aufgabe 2 */

.animal {
  padding: 5px;
  margin: 3px;
  color: darkgray;
  background-color: #d3d3d3;
}

/* Aufgabe 4 */

.selected {
  background-color: lightgray;
  color: white;
}

.dragging {
  opacity: 0.5;
}

/* button styling */

[type="button"],
[type="text"] {
  background-color: white;
  color: black;
  border: 2px solid gray;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

[type="button"]:hover {
  background-color: gray;
  color: white;
}
