#wrapper {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  font-family: Fantasy;
}

#game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  border: 10px solid black;
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-size: contain;
}

.field {
  border: 2px solid black;
  border-radius: 5px;
  width: 96px;
  height: 96px;
  background-image: url("DAKO-Profilbild.jpg");
  background-size: contain;
}

.namedCard {
  height: 96px;
  width: 96px;
  padding: 5px;
  background-color: dodgerblue;
  color: yellow;
  font-size: 15px;
}

.blackCard {
  height: 96px;
  width: 96px;
  background-color: black;
}

.pictureCard {
  height: 96px;
  width: 96px;
}

#counterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
}

#counter {
  border: 4px solid red;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: black;
  color: white;
  padding-left: 25px;
  font-size: 40px;
  font-family: Fantasy;
}

#startDiv {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

#start {
  border: 5px solid darkblue;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: dodgerblue;
  color: yellow;
  padding-left: 5px;
  font-size: 40px;
  font-family: Fantasy;
}

#notification {
  width: 300px;
  height: 150px;
  display: none;
  margin: 10px;
  padding: 10px;
  background-color: cornsilk;
  color: orange;
  border: 5px solid black;
  border-radius: 5px;
  font-size: 40px;
}

[hidden] {
  display: none;
}
